.aboutus-container {
    text-align: center;
    padding: 1rem;
}
.aboutus-container span {
    padding:2rem;
    font-size: 1.5rem;
    width: 20%;
    color: rgb(35, 33, 33)
}

.statement {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

.statement-vision, 
.statement-mission {
    margin: 1rem;
    width: 45%;
    padding-bottom: 1rem;
    background-color: aliceblue;
    box-shadow: 5px 5px 10px gray;

}

.statement-vision:hover {
    width: 45.5%;
    height: 10rem;
    cursor: pointer;
    /* transition: width 0.3s ease, height 0.3s ease; */
     transition:  height 0.3s ease, width 0.3s ease;
    /* font-size: 1.3rem; */

}

.statement-mission:hover {
    width: 45.5%;
    height: 10rem;
    cursor: pointer;
    transition:  height 0.3s ease, width 0.3s ease;
    /* font-size: 1.3rem; */
}

.statement-vision span, 
.statement-mission span{
    font-size: 1.2rem;
}

@media (max-width: 540px) {
    .statement {
        display: grid;
        text-align: center;
    }

    .statement-vision, 
    .statement-mission {
    padding: 1rem;
    width: 84%;
    }
}

@media (max-width: 390px) {
     .statement-vision, 
    .statement-mission {
    width: 80%;
    }
}