.heroPage-container1 {
    background-color: rgb(192, 193, 214);   
    z-index: 1
}
.heroPage-container {
    background-color: rgb(192, 193, 214);   
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.heropage-description1 {
    font-size: 4rem;
}

.heropage-description2 {
    color: grey;
    font-size: .8rem
}

.heroPage-image img {
    width: 100%;
    height: 15rem;
    box-shadow: 5px 5px 10px gray;;
}

@media (max-width:768px) {
    .heroPage-container {
        display: grid;
        /* flex-direction: row; */
        
    }
    .heroPage-image img {
        margin: 1rem 6rem;
        width: 70%
    }
   
}

@media (max-width: 540px) {
    .heroPage-container{
        padding: 0 1rem;
        /* width: 100% */
    }

    .heropage-description1 {
        font-size: 3rem
    }
    .heropage-description2 {
        font-size: .6rem;
    }
     .heroPage-image img {
        margin: 1rem;
        width: 90%
    }
}

@media(max-width: 412px) {
    .heroPage-container{
        padding: 0 1rem
    }
     .heroPage-image img {
        margin: 1rem;
        width: 21rem
    }
}

@media(max-width: 390px) {
      .heroPage-container{
        padding: 0 1rem;
        /* width: 100% */
    }

    .heropage-description1 {
        font-size: 3.7rem
    }
    .heropage-description2 {
        font-size: .6rem;
    }
     .heroPage-image img {
        margin: 1rem;
        width: 90%
    }
}